@{
    ViewBag.Title = "Iron Zone | About ";
}
<h2 class="naslov-about">@ViewBag.Title</h2>
<hr />

<div class="a">
    <div class="strana">
        <div class="divic">
            <h3>Gym Memberships</h3>
            <p>24 HR Access Membership</p>
            <a href="#">Read more!</a>
            <p>Couple's Membership</p>
            <a href="#">Read more!</a> <br />
            <a href="#">BROWSE ALL MEMBERSHIP</a>
            <hr />

            <h3>Bob Johnson</h3>
            <p>Owner of Iron Zone, if you want to learn more about Bob, click the link bellow!</p>
            <a href="#">Read more!</a>
            <hr />
        </div>
    </div>


    <div class="artikli">


        <div class="artikli-sadrzaj">
            <div id="sadrzaj">
                <article>
                    <h3 class="naslov-artikla">About Iron Zone</h3>

                    <p>
                        Iron Zone is a Novi Sad based Strongman/Powerlifting Gym. Iron Zone
                        is a 24 hour access gym. To schedule a tour of the gym please email
                        <a href="ironzone@gmail.com">ironzone@gmail.com</a>.
                        Do not drop in unannounced.
                    </p>
                    <p>
                        Squat racks, combo racks, competition benches, monolift, deadlift platforms,
                        dozens of barbells, specialty bars, machines, dumbbells, logs, farmer’s handles,
                        kegs, sandbags, circus dumbbells, tires, atlas stones, husafell stones, power stairs,
                        car deadlift, yokes, frames, sleds, viking press, and much more.
                    </p>
                    <p>
                        All training levels are welcome. Whether you are completely new to strength training
                        or you are interested in competing in your first Strongman competition or powerlifting meet,
                        Iron Zone can help you achieve your strength goals.
                    </p>
                    <p>
                        24 – hour access and group training available. No contracts, No start-up fees,
                        No cancellation fees. Come and experience just how fun Strongman and Powerlifting
                        training can be at Iron Zone!
                    <p>
                        24 – hour access and group training available. No contracts, No start-up fees,
                        No cancellation fees. Come and experience just how fun Strongman and Powerlifting
                        training can be at Iron Zone!
                    </p>
                </article>
            </div>
        </div>
    </div>
</div>

@section DrugiP{
    <p>Drugi projekat iz Projektovanja Softverskih Aplikacija</p>
    }