@{
    ViewBag.Title = "Iron Zone | Articles";
}

<div class="a">
    <div class="strana">
        <div class="divic">
            <h3>Gym Memberships</h3>
            <p>24 HR Access Membership</p>
            <a href="#">Read more!</a>
            <p>Couple's Membership</p>
            <a href="#">Read more!</a> <br />
            <a href="#">BROWSE ALL MEMBERSHIP</a>
            <hr />

            <h3>Bob Johnson</h3>
            <p>Owner of Iron Zone, if you want to learn more about Bob, click the link bellow!</p>
            <a href="#">Read more!</a>
            <hr />
        </div>
    </div>


    <div class="artikli">

        <h2 class="naslov-artikla">@ViewBag.Title</h2>
        <h3 class="naslov-artikla">@ViewBag.Message</h3>

        <hr />

        <div class="artikli-sadrzaj">
            <div id="sadrzaj">
                <article>
                    <h3 class="naslov-artikla">Subscribe To Our Newsletter</h3>
                    <p>Sign up with the form below to get started</p>
                    <a href="#">Read more!</a>
                    <hr />
                </article>
            </div>

            <div id="sadrzaj2">
                <article>
                    <h3 class="naslov-artikla">My First Day At SuperTraining</h3>
                    <p>
                        Growing up I loved Skateboarding. I spent everyday skateboarding whenever I got the chance.
                        I wore skateboarding clothes, I pinned up pages from Thrasher magazines onto my bedroom wall,
                        I watched skateboarding VHS highlight videos, and you could
                        always find my friends and I talking about our skateboarding idols.
                        I remember always trying to push […]
                    </p>
                    <a href="#">Read more!</a>
                </article>
                <hr />
            </div>

            <div id="sadrzaj3">
                <article>
                    <h3 class="naslov-artikla">Clear Your Mind</h3>
                    <p>
                        Sometimes the most difficult part of training is not lifting weights, getting out of your 
                        comfort zone, or straining for those last few reps…It’s quieting the chatter in your head 
                        that can be the hardest part. You’ve heard it before; “The Mind is a very powerful thing.” 
                        It can work for you or against you. […]
                    </p>
                    <a href="#">Read more!</a>
                </article>
            </div>
        </div>
    </div>
</div>