@{
    ViewBag.Title = "Iron Zone | Gallery";
}

<h2 class="naslov-galerije">@ViewBag.Title</h2>
<hr />
<div class="galerika">
    <div class="gallery">
        <a target="_blank" href="~/images/gallery/01.jpeg">
            <img src="~/images/gallery/01.jpeg" alt="Racks" width="600" height="400">
        </a>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/images/gallery/02.jpeg">
            <img src="~/images/gallery/02.jpeg" alt="Rogue bench" width="600" height="400">
        </a>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/images/gallery/03.jpeg">
            <img src="~/images/gallery/03.jpeg" alt="Plates and barbells" width="600" height="400">
        </a>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/images/gallery/04.jpeg">
            <img src="~/images/gallery/04.jpeg" alt="Tires" width="600" height="400">
        </a>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/images/gallery/05.jpeg">
            <img src="~/images/gallery/05.jpeg" alt="Atlas stones" width="600" height="400">
        </a>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/images/gallery/06.jpeg">
            <img src="~/images/gallery/06.jpeg" alt="Logs and plates" width="600" height="400">
        </a>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/images/gallery/07.jpeg">
            <img src="~/images/gallery/07.jpeg" alt="Strongman Dumbells" width="600" height="400">
        </a>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/images/gallery/08.jpeg">
            <img src="~/images/gallery/08.jpeg" alt="Dumbells" width="600" height="400">
        </a>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/images/gallery/09.jpeg">
            <img src="~/images/gallery/09.jpeg" alt="Barbells" width="600" height="400">
        </a>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/images/gallery/10.jpeg">
            <img src="~/images/gallery/10.jpeg" alt="Barbells" width="600" height="400">
        </a>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/images/gallery/11.jpeg">
            <img src="~/images/gallery/11.jpeg" alt="Yoke" width="600" height="400">
        </a>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/images/gallery/12.jpeg">
            <img src="~/images/gallery/12.jpeg" alt="Power Rack" width="600" height="400">
        </a>
    </div>
    
</div>

<div class="container">
    <p>
        Squat racks, combo racks, competition benches, monolift, deadlift platforms, dozens of barbells,
        specialty bars, machines, dumbbells, logs, farmer’s handles, kegs, sandbags, circus dumbbells, tires,
        atlas stones, husafell stones, power stairs, car deadlift, yokes, frames, sleds,
        viking press, and much more.
    </p>
</div>