@{
    ViewBag.Title = "Iron Zone | Membership";
}
<h2 class="naslov-pocetne">@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="clanstvo">
        <img class="slike-clanstva" src="~/images/membership/01.png" /> <br />
        <a href="#">Strongman Conditioning Membership</a>
        <p>
            $40 / Month Month to month payments. No contract, No start-up fee, No cancellation fee.
            All levels are welcome. No prior experience needed. Be ready to work your butt off! Strongman
            Conditioning is a fun and challenging workout that incorporates Strength and HIIT (High Intensity
            Interval Training) using unconventional Strongman equipment. You can expect to […]
        </p>
        <hr />


        <img class="slike-clanstva" src="~/images/membership/02.png" /> <br />
        <a href="#">24 HR Access Membership</a>
        <p>
            $70 / Month Month to month automatic payments. No contract, No start-up fee, No cancellation fee.
            Membership grants 24 hour access to the facility. Upon signing up, members will receive a key fob
            that they can can use 24/7/365. Membership also grants access to Strongman Conditioning Classes.
            Members will receive plenty of warning if/when the gym […]
        </p>
        <hr />


        <img class="slike-clanstva" src="~/images/membership/03.png" /> <br />
        <a href="#">Strongman Conditioning Membership</a>
        <p>
            $40 / Month Month to month payments. No contract, No start-up fee, No cancellation fee.
            All levels are welcome. No prior experience needed. Be ready to work your butt off! Strongman
            Conditioning is a fun and challenging workout that incorporates Strength and HIIT (High Intensity
            Interval Training) using unconventional Strongman equipment. You can expect to […]
        </p>
        <hr />


        <img class="slike-clanstva" src="~/images/membership/04.png" /> <br />
        <a href="#">One-Time Form Check</a>
        <p>
            $125 / Session One-Time Payment Pay Per Session Take a hands-on approach to evaluating your Squat,
            Bench, Deadlift, Press, and/or Power Clean form. For those of you who might be interested in competing
            in your first Strongman competition this session can also be spent covering
            Strongman movements upon request.  Email untamedstrength@gmail.com Couples form check is […]
        </p>
        <hr />


        <img class="slike-clanstva" src="~/images/membership/05.png" /> <br />
        <a href="#">Personal Training</a>
        <p>
            One-Time Payment Pay Per Session Learn more about Alan’s methodology by checking out his
            YouTube channel: YouTube.com/AlanThrall  Here you will find topics that range from strength
            training instruction and programming, nutrition, motivation, and more. To schedule a one on
            one form check session or personal training session with Alan call the number or email the […]
        </p>
        <hr />


        <img class="slike-clanstva" src="~/images/membership/06.png" /> <br />
        <a href="#">6-Month Special</a>
        <p>
            $300 * No contract, No start-up fee, No cancellation fee. *Introductory offer. One time purchase
            only for new members. $300 up front will cover 6 months at Untamed Strength; reducing the payments
            from $70/month to $50/month. Member will receive a keychain fob that grants them 24 hour access
            to the facility. The keychain fob will […]
        </p>
        <hr />


        <img class="slike-clanstva" src="~/images/membership/07.png" /> <br />
        <a href="#">3-Month Special</a>
        <p>
            $180* No contract, No start-up fee, No cancellation fee. *Introductory offer. One time purchase
            only for new members. $180 up front will cover 3 months at Untamed Strength; reducing
            the payments from $70/month to $60/month. Member will receive a keychain fob that grants
            them 24 hour access to the facility. The keychain fob will automatically […]
        </p>
        <hr />
    </div>
</div>

